# Rename this to .env before deploying

# Your RapidAPI key from ADS-B Exchange
ADSB_API_KEY=5a0635eba0msh411e173af03b9eap125febjsnd914f79bf835

# Gmail settings
EMAIL_FROM=sandu.godakumbura@gmail.com
EMAIL_PASS=your_gmail_app_password_here
EMAIL_TO=sandu.godakumbura@gmail.com